
/***  Main Layout Components  ***/

#sidebar {
	position : relative;
	height   : 100%;
}

#container {
	/* overflow : hidden; */
	padding  : 2em 0.5em;
	height   : 100%;
}


/***  Columns  ***/

.columns.one    { width : 8.333333333333333333333%; }
.columns.two    { width : 16.66666666666666666666%; }
.columns.three  { width : 25%;  }
.columns.four   { width : 33.33333333333333333333%; }
.columns.five   { width : 41.66666666666666666666%; }
.columns.six    { width : 50%;  }
.columns.seven  { width : 58.33333333333333333333%; }
.columns.eight  { width : 66.66666666666666666666%; }
.columns.nine   { width : 75%;  }
.columns.ten    { width : 83.33333333333333333333%; }
.columns.eleven { width : 91.66666666666666666666%; }
.columns.twelve { width : 100%; }


/***  Auxiliary Styles  ***/

.block  { display : block;  }
.inline { display : inline; }

.fixed  { position: fixed; }

.left   { float  : left;  }
.right  { float  : right; }
.auto   { margin : auto;  }
.center { text-align : center; }

.clear  { clear : both; }
