
/***  Sidebar  ***/

/*
.title {
	margin : 0.75em 0 0.75em 0;
	border-bottom : 1px solid #DBD9D4;
	(border de abajo)
	padding-bottom : 0.2em;
}
*//* border-bottom: 1px solid #E4E4E5; */


.about   { margin : 1em 0; }
.about p { margin : 0;     }

.list.single { padding-left : 2em; }
.list.double { padding-left : 4em; }

.menu {}

	.nav-item  {
		border-radius : 5px;
		line-height   : 1.75em;
		padding-left  : 15px;
	}

	.nav-item a { color : #EFEFEF; }
	
	.favicon {
		border-radius : 3px;
		display : inline-block;
		padding : 4px;
		height  : 18px;
		width   : 18px;
	}
	
.colors {
	position : absolute;
	bottom   : 0;
}

	.square {
		display : block;
		float   : left;
		height  : 2.75em;
		width   : 4em;
	}
	
	.square:first-child  { border-top-left-radius  : 5px; }
	.square:last-child   { border-top-right-radius : 5px; }
	

/***  'Home' Section  ***/

/* (code) */


/***  'CV' Section  ***/

.cv-pdf img {
	width : 100%;
}

/*
.cv-pdf {
	border-top: 4px solid #CCC;
	border-bottom: 4px solid #CCC;
	
	height: 1133px;
	width: 820px;
}
*/

/***  'Projects' Section  ***/
.project {
	margin-bottom : 4em;
}

	.screenshot {
		border : 1px solid #DEDEDE;
		border-radius : 4px;
		width : 40%;
	}

	.screenshot img { 
		border-radius : 4px;
		box-shadow : 2px 5px 10px 1px #CCC;
		width : 100%;
	}

	.profile {
		width : 57%;
	}
		/*
		.techs {
			padding-left : 1.5em;
		}
		*/
		
		datetime { padding-top : 0.1em; }

/*
.headline {
	margin : 0;
}
*/


/***  'Hobbies' Section  ***/

/* (code) */


/***  'Contact' Section  ***/

