
/***  Sidebar  ***/

.colors { height : 2.75em; }

	.square {
		display : block;
		float   : left;
		height  : inherit;
		width   : 20%;
	}
	
	.square:first-child  { border-bottom-left-radius  : 0.4em; }
	.square:last-child   { border-bottom-right-radius : 0.4em; }


.about   { margin : 1em 0; }
.about p { margin : 0;     }

.list { padding-left : 2em; }
/*
.list.single { padding-left : 2em; }
.list.double { padding-left : 4em; }
*/

	.nav-item  {
		border-radius : 5px;
		line-height   : 1.5em;
		margin-bottom : 0.1em;
		padding-left  : 1em;
		width         : 5em;
	}

	.nav-item a { color : #EFEFEF; }
	
	.favicon {
		border-radius : 4px;
		display : inline-block;
		padding : 4px;
		height  : 18px;
		width   : 18px;
	}

	.favicon:hover .arrow-box {
		display : block;
	}

		.arrow-box {
			background : #2D2D2D;
			border     : 1px solid #c2e1f5;
			display    : none;
			position   : absolute;
			margin-top : 5em;
			width : 5em;
			height : 2.5em;
		}

		.arrow-box:after, 
		.arrow-box:before {
			bottom   : 100%;
			border   : solid transparent;
			content  : "CSS";
			height   : 0;
			width    : 0;
			position : absolute;
			pointer-events: none;
		}

		.arrow-box:after {
			border-bottom-color : #2D2D2D;
			border-width : 20px;
			left : 50%;
			margin-left : -20px;
		}

		.arrow-box:before {
			border-bottom-color : #c2e1f5;
			border-width : 21px;
			left : 50%;
			margin-left : -21px;
		}

	

/***  'Home' Section  ***/

/* (code) */


/***  'CV' Section  ***/

.cv-pdf img {
	width : 100%;
}

/*
.cv-pdf {
	border-top: 4px solid #CCC;
	border-bottom: 4px solid #CCC;
	
	height: 1133px;
	width: 820px;
}
*/

/***  'Projects' Section  ***/
.project {
	margin-bottom : 3.125em;
}

	.screenshot {
		border : 1px solid #DEDEDE;
		border-radius : 4px;
		width : 40%;
	}

	.screenshot img { 
		border-radius : 4px;
		box-shadow : 2px 5px 10px 1px #CCC;
		width : 100%;
	}

	.profile {
		width : 57%;
	}
		/*
		.techs {
			padding-left : 1.5em;
		}
		*/
		
		datetime { padding-top : 0.1em; }

/*
.headline {
	margin : 0;
}
*/


/***  'Hobbies' Section  ***/

/* (code) */


/***  'Contact' Section  ***/

