
/***  State Components  ***/

.nav-item.active {
	width : 12em;
}



/***  Pseudo-classes  ***/

.nav-item:hover { padding-left : 1.75em; }

.square:hover { padding-bottom : 1.25em; }



/***  Transitions  ***/

.nav-item {
	-webkit-transition : background .3s ease-in-out, padding .2s ease-in-out;
	   -moz-transition : background .3s ease-in-out, padding .2s ease-in-out;
	     -o-transition : background .3s ease-in-out, padding .2s ease-in-out;
	        transition : background .3s ease-in-out, padding .2s ease-in-out;
}

.favicon {
    -webkit-transition : background .2s ease-in-out;
	   -moz-transition : background .2s ease-in-out;
	     -o-transition : background .2s ease-in-out;
	        transition : background .2s ease-in-out;
}

.data a,
.project a {
	-webkit-transition : background .3s ease-in, color .3s ease-in-out, border .2s ease-in-out;
	   -moz-transition : background .3s ease-in, color .3s ease-in-out, border .2s ease-in-out;
	     -o-transition : background .3s ease-in, color .3s ease-in-out, border .2s ease-in-out;
	        transition : background .3s ease-in, color .3s ease-in-out, border .2s ease-in-out;
}

.square {
	-webkit-transition : padding .2s ease-in-out;
	   -moz-transition : padding .2s ease-in-out;
	     -o-transition : padding .2s ease-in-out;
	        transition : padding .2s ease-in-out;
}